{% raw %}
{% extends "_layouts/base.html" %}

{% block page_title %}Page Not Found{% endblock %}

{% block css %}
<style type="text/css">
  body {
    padding-top: 40px;
  }
  h1, p {
    text-align: center;
  }
  h1 {
    font-size: 64px;
    margin: 75px 0 50px;
  }
  p {
    font-size: 24px;
    margin: 15px 0;
  }
</style>
{% endblock %}

{% block content %}
<h1>404</h1>
<p>Sorry, that page doesn't exist.</p>
<p>Want to <a href="{{ url_for('home') }}">go home</a> instead?</p>
{% endblock %}
{% endraw %}
