[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Flask
click = ">=7.0"
Flask = "==3.0.2"
Werkzeug = "==3.0.1"

# Database
Flask-SQLAlchemy = "==3.1.1"
psycopg2-binary = "==2.9.9"
SQLAlchemy = "==2.0.28"

# Migrations
Flask-Migrate = "==4.0.7"

# Forms
email-validator = "==2.1.1"
Flask-WTF = "==1.2.1"
WTForms = "==3.1.2"

# Deployment
gevent = "==24.2.1"
gunicorn = ">=19.9.0"
supervisor = "==4.2.5"

# Flask Static Digest
Flask-Static-Digest = "==0.4.0"

# Auth
Flask-Bcrypt = "==1.0.1"
Flask-Login = "==0.6.3"

# Caching
Flask-Caching = ">=2.0.2"

# Debug toolbar
Flask-DebugToolbar = "==0.14.1"

# Environment variable parsing
environs = "==11.0.0"

[dev-packages]
# Testing
factory-boy = "==3.3.0"
pytest = "==8.1.1"
pytest-cov = "==4.1.0"
WebTest = "==3.0.0"

# Lint and code style
black = "==24.3.0"
flake8 = "==6.0.0"
flake8-blind-except = "==0.2.1"
flake8-debugger = "==4.1.2"
flake8-docstrings = "==1.7.0"
flake8-isort = "==6.1.1"
isort = "==5.13.2"
pep8-naming = "==0.13.3"

{% if cookiecutter.use_pipenv == "True" and  cookiecutter.python_version is defined and cookiecutter.python_version | trim -%}
[requires]
python_version = "{{ cookiecutter.python_version | trim }}"
{% endif -%}
