[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Flask
Flask = "==1.0.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.2"
Jinja2 = "==2.10.1"
itsdangerous = "==1.1.0"
click = ">=5.0"

# Database
Flask-SQLAlchemy = "==2.4.0"
psycopg2 = "==2.8.2"
SQLAlchemy = "==1.3.3"

# Migrations
Flask-Migrate = "==2.4.0"

# Forms
Flask-WTF = "==0.14.2"
WTForms = "==2.2.1"

# Deployment
gunicorn = ">=19.1.1"

# Webpack
flask-webpack = "==0.1.0"

# Auth
Flask-Login = "==0.4.1"
Flask-Bcrypt = "==0.7.1"

# Caching
Flask-Caching = ">=1.0.0"

# Debug toolbar
Flask-DebugToolbar = "==0.10.1"

# Environment variable parsing
environs = "==4.1.2"

[dev-packages]
# Testing
pytest = "==4.4.2"
WebTest = "==2.0.33"
factory-boy = "==2.11.*"

# Lint and code style
flake8 = "==3.7.7"
flake8-blind-except = "==0.1.1"
flake8-debugger = "==3.1.0"
flake8-docstrings = "==1.3.0"
flake8-isort = "==2.7.0"
flake8-quotes = "==2.0.1"
isort = "==4.3.18"
pep8-naming = "==0.8.2"
