name: Build Status

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "{{cookiecutter.python_version}}"
      - uses: actions/setup-node@v3.5.1
        with:
          node-version: "{{cookiecutter.node_version}}.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install Python dependencies
        run: |
          {%- if cookiecutter.use_pipenv == "True" %}
          pip install pipenv
          pipenv install --dev
          {%- else %}
          python -m pip install --upgrade pip
          pip install -r requirements/dev.txt
          {%- endif %}
      - name: Install Node dependencies
        run: npm install
      - run: cp .env.example .env
      - name: Run Node lints
        run: npm run lint
      - name: Run Python lints
        {%- if cookiecutter.use_pipenv == "True" %}
        run: pipenv run flask lint --check
        {%- else %}
        run: flask lint --check
        {%- endif %}
      - name: Run Python tests
        {%- if cookiecutter.use_pipenv == "True" %}
        run: pipenv run flask test
        {%- else %}
        run: flask test
        {%- endif %}
